<script data-cfasync="false" src="https://matchthemes.com/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script>
<script src='/js/jquery.js'></script>
<script src='/js/jquery-migrate.min.js'></script>
<script src='css/bootstrap/js/popper.js'></script>
<script src='css/bootstrap/js/bootstrap.js'></script>
<script src='/js/easing.js'></script>
<script src='/js/fitvids.js'></script>
<script src='/js/owl-carousel/owl.carousel.js'></script>
<script src='/js/isotope.js'></script>
<script src='/js/simple-lightbox.js'></script>
<!-- MAIN JS -->
<script src='/js/init.js'></script>
<!-- CONTAT FORM JS -->
<script src='/js/jquery.form.min.js'></script>
<script src='/js/contactform.js'></script>