        <!-- Instagram feed -->
        
        <script src="https://apps.elfsight.com/p/platform.js" defer></script>
        <div class="elfsight-app-4e9f664e-8127-40b8-8770-f42f7e2d1372"></div>
        
        <!-- Footer -->
		<footer>
			<div class="container">
				<div class="footer-widgets">
					<div class="row">
						<div class="col-md-4">
							<div class="foo-block">
								<div class="widget widget-footer widget_text">
									<h5 class="widgettitle">About Me</h5>
									<div class="textwidget">
										<p>Hey, I'm Sona Grigoryan, the founder of GS design. I am an interior designer located in Brussels.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="foo-block">
								<div class="widget widget-footer widget_text">
									<h5 class="widgettitle">Contact</h5>
									<div class="textwidget">
										<div class="textwidget">
											<p>Grote Markt 52 b101
                                            <br> Sint-Truiden 3800, Belgium</p>
											<p><a href="tel:+32 485414164">+32 485414164</a><br> <a href="mailto:info@ggs-design.be" class="__cf_email__" >info@gs-design.be</a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="foo-block foo-last">
								<div class="widget_text widget widget-footer widget_custom_html">
									<h5 class="widgettitle">Quick Links</h5>
									<div class="textwidget custom-html-widget">
										<ul>
											<li> <a href={{ "/"| relative_url }}>Home</a></li>
											<li><a href={{ "/about"| relative_url }}>About</a></li>
											<li><a href={{ "/projects"| relative_url }}>Projects</a></li>
											<li><a href={{ "/contact"| relative_url }}>Contact</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="copyright">
					<div class="footer-copy"> Copyright &copy;{{ 'now' | date: "%Y" }}</div>
				</div>
			</div>
		</footer>
		