
		<div class="menu-mask"></div>
		<!-- MOBILE MENU HOLDER -->
		<div class="mobile-menu-holder">
			<div class="modal-menu-container">
				<div class="exit-mobile"> <span class="icon-bar1"></span> <span class="icon-bar2"></span></div>
				<ul class="menu-mobile">
					<li class="menu-item  {% if page.url == '/' %} current-menu-item{% endif %}"><a href="{{ "/"   | relative_url }}">Home</a></li>
					<li class="menu-item  {% if page.url == '/projects.html' %} current-menu-item{% endif %}"><a href={{ "/projects.html" | relative_url }}>Projects</a></li>
					<li class="menu-item  {% if page.url == '/about.html' %} current-menu-item{% endif %}"><a href={{ "/about.html"  | relative_url }}>About</a></li>
					<li class="menu-item  {% if page.url == '/contact.html' %} current-menu-item{% endif %}"><a href={{ "/contact.html"  | relative_url }}>Contact</a></li>
				</ul>
			</div>
			<div class="menu-contact">
				<ul>
					<li><i class="fa fa-map-marker"></i><span>40 Park Ave, Brooklyn, New York</span></li>
					<li><i class="fa fa-mobile"></i><span>1-800-111-2222</span></li>
					<li><i class="fa fa-envelope-o"></i><span><a href="https://matchthemes.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="076468697366647347627f666a776b622964686a">[email&#160;protected]</a></span></li>
				</ul>
				<ul class="social-media">
					<li><a class="social-facebook" href="top-header-2.html#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
					<li><a class="social-instagram" href="top-header-2.html#" target="_blank"><i class="fab fa-instagram"></i></a></li>
				</ul>
			</div>
		</div>
		<!-- /MOBILE MENU HOLDER -->

		<!-- HEADER -->
		<header class="main-header header-2">
			<div class="container">
				<div class="header-container">
					<div class="logo logo-2 logo-white">
						<a href={{ "/"   | relative_url }}><img class="img-fluid" src={{ "/images/gs/logo.png"  | relative_url }} alt="GS logo"></a>
					</div>
					<div class="logo logo-2 logo-dark"><a href={{ "/"   | relative_url }}><img class="img-fluid" src={{ "/images/gs/logo.png"  | relative_url }} alt="GS logo"></a></div>
					<nav class="nav-holder nav-holder-2">
						<ul class="menu-nav">
							<li class="menu-item {% if page.url == '/' %} current-menu-item{% endif %}">
								<a href={{ "/"   | relative_url }}>Home</a>
							</li>
							<li class="menu-item {% if page.url == '/projects.html' %} current-menu-item{% endif%}">
								<a href={{ "/projects.html"  | relative_url }}>Projects</a></li>
							</li>
							<li class="menu-item {% if page.url == '/about.html' %} current-menu-item{% endif%}">
								<a href={{ "/about.html"  | relative_url }}>About</a>
							</li>
							<li class="menu-item {% if page.url == '/contact.html' %} current-menu-item{% endif%}">
								<a href={{ "/contact.html"  | relative_url }}>Contact</a>
							</li>
						</ul>
					</nav>
					<div class="nav-button-holder"> <button type="button" class="nav-button"> <span class="icon-bar"></span> </button></div>
				</div>
			</div>
		</header>
		<!-- /HEADER -->
		